<div class="container">
  <div class="card mt-2">
    <div class="card-header text-center">
      <h2>View Employee of ID: <span>{{employee.employeeId}}</span></h2>
    </div>
    <div class="card-body">
      <h5>First Name: <span>{{employee.employeeFirstName}}</span></h5>
      <hr>
      <h5>Last Name: <span>{{employee.employeeLastName}}</span></h5>
      <hr>
      <h5>E-mail Address: <span>{{employee.employeeEmail}}</span></h5>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-info" routerLink="/employees">Back to List</button>
    </div>
  </div>
</div>
